*.project
dev.db
*.pyc
node_modules
local_settings.py
*.log
*.log.*
*.sqlite3
*.sqlite
.DS_Store
dump.rdb
nohup.out
site_media/static/*
site_media/media/*
celerybeat-schedule
celerybeat.pid
git_sync.sh
.coverage
celerybeat-schedule.db
package-lock.json
celerybeat-schedule
.vscode
.idea
